/* importer la police d'ecriture depuis google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    border: 1px solid blueviolet;
    background-color: azure;
    /* police d'écriture de google fonts */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.structure_body_flexbox {
    border: 1px solid red;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    border: 1px solid black;
    background-color: antiquewhite;
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    border: 1px solid green;
    background-color: aquamarine;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar button {
    border: 1px solid purple;
    padding: 1.5rem 1.5rem;
}

main {
    border: 1px solid peru;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

main .item_main {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    border: 1px solid black;
    background-color: antiquewhite;
    margin-top: auto;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer .footer_columns_top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer .footer_row_bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}